{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>All Reservations</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <pre id="bookings"></pre>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5215.393919849237!2d-122.8076669837101!3d49.18733674797389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle%20maps!5e0!3m2!1sen!2sca!4v1729814107747!5m2!1sen!2sca"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
<script>
  const bookings = JSON.parse('{{ bookings|safe }}')
  bookings.forEach((reservation) => {
    const booking = document.createTextNode(
      "Reservation ID: "+reservation.pk+
      "\nName: "+reservation.fields.first_name+
      "\nDate: "+reservation.fields.reservation_date+
      "\nReservation Slot: "+reservation.fields.reservation_slot+
      "\n\n"
    )
    const text = document.getElementById("bookings")
    text.appendChild(booking)
  })
  //const pretty_json = JSON.stringify(bookings,null,2)
  //document.getElementById('bookings').innerHTML = pretty_json
</script>
{% endblock %}

